{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <title>Stella nord</title>
    </head>
    <body>
        <div id="container">
            <div id="head" class="main_flex">
                <div class="head_logo">
                    <img src="{% static 'images/logo.png' %}" alt="Logo Stella Nord">
                    <span>Stella Nord</span>
                </div>
                <div class="head_menu">
                    <span>Strona główna</span>
                    <span>O nas</span>
                    <span>Realizacje</span>
                    <span>Kontakt</span>
                </div>
                <div class="personal_head">
                    <img src="{% static 'images/account.png' %}" alt="My_account">
                    <img src="{% static 'images/cart.png' %}" alt="My_order">
                </div>
            </div>
            <div id="body" class="main_flex">

            </div>
            <div id="footer" class="main_flex">

            </div>
            <div id="privacy">
                &copy; 2026 Stella Nord. Wszelkie prawa zastrzeżone
            </div>
        </div>
    </body>
</html>